    <!-- Header -->
   
        <header id="header" class="alt" >            
            <h1><a routerLink="/home">Cardinals United</a></h1>
            <a href="#nav">Menu</a>
          </header>
      
        <!-- Nav -->
          <nav id="nav">
            <ul class="links">
              <li><a routerLink="/home">Home</a></li>
              <li *ngIf="!userLoggedIn"><a routerLink="/register">Register</a></li>
              <li *ngIf="!userLoggedIn"><a routerLink="/login">Login</a></li>
              <li *ngIf="userLoggedIn"><a routerLink="/profile">Profile</a></li>
              <li *ngIf="userLoggedIn"><a (click)="logout()" routerLink="/home">Logout</a></li>
            </ul>
          </nav>
          
      
        
          
      
       